<h1>New Home Owner</h1>
  <!-- Modal Structure -->


<%= render 'home_owners/form' %>

<div class="modal-action modal-close waves-effect waves-green btn-flat" onclick="back('#new_ho', '#ho_body')">
    <span>Back</span>
</div>
