<section id='route-page'>
<div class="map-wrapper">
	<div id="geolocation" class='fullscreen map-responsive' >

   </div>

   <div class="over_map">
   		 	<a class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">add</i></a>
   </div>
</section>
  

