  <script src="//maps.google.com/maps/api/js?v=3.18&sensor=false&client=&key=&libraries=geometry&language=&hl=&region="></script>
  <script src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"></script>

    <!-- expandable map area not 100% -->
 <div id="all-add-maps" style='width: auto; height:500px;'></div>
 <!--  <div><a class='waves-effect waves-purple btn-flat' onclick='expand()'>Show Map</div> -->