<section id="new_issue_header" class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 center-align">
		<h3>New Issue</h3>
	  </div>
	</div>
  </div>
</section>

<%= render 'issues/form' %>


