<h1>Admin#index</h1>
<p>Find me in app/views/admin/index.html.erb</p>

<div >
<%= render 'home_owners/index' %>
</div>
<div >
<%= render 'home_owners/new' %>
</div>

<div >
<%= render 'addresses/index' %>
</div>

<div >
<%= render 'issue_categories/index' %>
</div>
