<h1>New Issue Category</h1>

<%= render 'issue_categories/form' %>

<div class="modal-action modal-close waves-effect waves-green btn-flat" onclick="back('#new_ic', '#ic_body')">
    <span>Back</span>
</div>
