<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @issue_category_show.name %>
</p>


<div class="modal-action modal-close waves-effect waves-green btn-flat" onclick="back('#show_ic', '#ic_body')">
    <span>Back</span>
</div>
