<p id="notice"><%= notice %></p>

<p>
  <strong>Issue Category:</strong>
  <%= @issue_category.name %>
</p>





<%= link_to 'Edit', edit_issue_category_path(@issue_category) %> |
<%= link_to 'Back', issue_categories_path %>
