/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Not sure if this is needed yet. */
@import 'materialize';
@import "materialize/components/color";
$primary-color: color("purple", "lighten-1") !default;



/* Destop only version */
@media #{$large-and-up} {
 	main {
		padding-left: 170px;
	}

  .side-nav{
    width: 170px;
  }
  th, td{
    font-size: 1.1rem;
  }
  .map-responsive{
    min-height: 800px;
  }
}

/* Tablet and Mobile version */
@media #{$medium-and-down} {
  .side-nav {
    width: 200px;
  }
  th, td{
    font-size: 1.05rem;
  }

}

tr{
  cursor: pointer; 
}

.issue_pic{
    max-width:400px;
    max-height:400px;
   /* margin-right: 10px;
    margin-top: 30px;*/
}

.parallax-container {
  min-height: 700px;
  height: auto;
}

.parallax {
  img {
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    max-height: 900px;
    position: absolute;
    transform: translateX(-50%);
  }
}

#admin_show{
  padding-right: 10px;
  padding-left: 10px;
}

.container{
    width: 95%;
  }
  a:hover{
  border:none;
  outline:none;
  text-decoration: none !important;
  text-decoration-color: none !important;
  color:inherit;
}
.img-parallax{
  max-height: 700px;
  width: auto;
}
.map-responsive{
   min-height: 500px;
  }
.wrapper { 
  position: relative; 
}
.over_map {
  position: absolute; 
  top: 10px; 
  right: 10px; 
  z-index: 99; 
}


