/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Not sure if this is needed yet. */
@import 'materialize';
@import "materialize/components/color";
$primary-color: color("purple", "lighten-1") !default;



/* Destop only version */
@media #{$large-and-up} {
 	main {
		padding-left: 170px;
	}
	.parallax-container {
      height: 700px;
  }
  .side-nav{
    width: 170px;
  }
  .map-responsive-container{
    padding-top: 20px;
  }

}

/* Tablet and Mobile version */
@media #{$medium-and-down} {
  .side-nav {
  width: 200px;
  }

}

img{
    max-width:400px;
    max-height:400px;
   /* margin-right: 10px;
    margin-top: 30px;*/
}

#admin_show{
  padding-right: 10px;
  padding-left: 10px;
}

.img-parallax{
  max-height: 700px;
  width: auto;
}
.container{
    width: 95%;
  }




